body {
  margin: 0;
  font-family: "Varela", "Sailec-Medium";
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}

.home {
  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    max-width: 1200px;
    min-height: 900px;
    width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
  }

  &__header {
    text-align: center;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &__posts {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    width: 900px;
    gap: 1.5rem;
  }

  &__post {
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: #f1f1f1;
      cursor: pointer;
    }

    &-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &-excerpt {
      font-size: 1rem;
      color: #555;
      margin-bottom: 0.5rem;
    }

    &-date {
      font-size: 0.9rem;
      color: #888;
    }
  }
}

.sidebar {
  flex: 1;
  max-width: 220px;
  background-color: #f3f0f0;
  padding: 1rem;
  border-radius: 8px;

  h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-transform: capitalize;

    &:hover {
      color: rgb(91, 91, 82);
    }
  }
}

.active {
  font-weight: bold;
  color: #555;
}

@media (max-width: 1024px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .sidebar {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    text-align: center;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      padding: 0;
    }

    li {
      border: none;
      padding: 0.5rem 1rem;
      background: #ddd;
      border-radius: 5px;
    }
  }

  .home {
    width: 100%;
    max-width: 100%;
    padding: 1rem;

    &__posts {
      width: 100%;
      padding: 1rem;
    }
  }
}

#home__blog-title {
  color: #555555be;
  font-family: "Catamaran";
  // background-color: #000000be;
}
