body {
  margin: 0;
  font-family: "Varela", sans-serif;
  background-color: #fff;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover {
    color: #555;
  }
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1.5rem;
}

.navbar__links {
  display: flex;
  gap: 1rem;
}

.navbar__right #add-post {
  padding: 0.8rem;
  background-color: #333;
  color: white;
  border: 0.8px solid #333;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s ease;
}

.navbar__right #add-post:hover {
  background-color: #555;
  border: 1px solid #555;
}

.navbar__right {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.navbar__toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: auto;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
    position: relative;
  }

  .navbar__toggle {
    display: block;
  }

  .navbar__links,
  .navbar__right {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: 50vw;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar__links a,
  .navbar__right a {
    padding: 0.75rem 1rem;
    width: 100%;
    text-align: center;
    display: block;
  }

  .navbar__links.active,
  .navbar__right.active {
    transform: translateX(0);
  }
}
