.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: #808080;
  border-top: 1px solid #ddd;
  .heart {
    font-size: 1em;
    color: grey;
    border-radius: 50%;
    display: inline-block;
    padding: 4px;
    margin: 0 5px;
  }
  text-align: center;
  padding: 10px;
}
