html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heart {
  color: #ff4d4d;
}

.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  background-color: white;
  color: #808080;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 1rem;
  margin-top: auto;

  p {
    margin: 0;
    font-size: 0.9rem;

    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}
