$primary-bg: #fafafa;
$border-color: #ddd;
$toolbar-bg: #f4f4f4;
$button-bg: #333;
$button-hover: #555;
$text-color: white;
$editor-bg: white;

.editor-container {
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid $border-color;
  border-radius: 10px;
  background: $primary-bg;
  padding: 10px;
  display: flex;
  flex-direction: column;

  &__editor-title {
    margin-bottom: 13px;
  }
}

.ql-container {
  border-radius: 8px;
  height: 250px;
  overflow-y: auto;
  background: $editor-bg;
  font-size: 16px;
  padding: 10px;
}

.ql-toolbar {
  border-radius: 8px 8px 0 0;
  background: $toolbar-bg;
  padding: 10px;
  border-bottom: 1px solid $border-color;
}

.save-button {
  margin-top: 15px;
  padding: 10px 15px;
  background: $button-bg;
  color: $text-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: $button-hover;
  }
}

.ql-editor::before {
  color: #999;
  font-style: italic;
  padding: 0px 9px;
}
.ql-container {
  position: relative;
}

.ql-tooltip {
  overflow: hidden;
  margin-left: 100px;
}

.post-cover-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
.cover-image-preview {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 8px;
}
